{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
          <div class="alert alert-danger" role="alert">
          {{ message }}
          </div>
        {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
          <div class="alert alert-success" role="alert">
          {{ message }}
          </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO%}
          <div class="alert alert-primary" role="alert">
          {{ message }}
          </div>
        {% endif %}
    {% endfor %}
{% endif %}
{#{% if messages %}#}
{#        {% for message in messages %}#}
{#            {% if message.tags == 'success'%}#}
{#                <script>M.toast({html: "{{message}}", classes: 'green rounded', displayLength:2000});</script>#}
{#            {% elif message.tags == 'info'%}#}
{#                <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>#}
{#            {% elif message.tags == 'warning'%}#}
{#                <script>M.toast({html: "{{message}}", classes: 'orange rounded', displayLength:10000});</script>#}
{#            {% elif message.tags == 'error'%}#}
{#                <script>M.toast({html: "{{message}}", classes: 'red rounded', displayLength:10000});</script>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#    {% endif %}#}