{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
        <!--Page Heading-->
            <!--Page content-->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Issue list</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'projects' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'projects' %}">Projects</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <strong>Issue list</strong>
                        </li>
                    </ol>
                </div>
            </div>

        <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Create New issue</h5>
                            <div class="ibox-tools">
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="m-b-lg">
                                <form method="POST">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button class="btn btn-white" type="submit">Add</button>
                                </form>
                                    </div>
                                </div>

                                
                        </div>

                    </div>
                </div>
            </div>
        {% endblock content %}