{% extends '_base.html' %}
{% block content %}
        <!--Page Heading-->
            <!--Page content-->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Issue list</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'projects' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'projects' %}">Projects</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <strong>Issue list</strong>
                        </li>
                    </ol>
                </div>
            </div>

        <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Issue list</h5>
                            <div class="ibox-tools">
                                <a href="#" class="btn btn-primary btn-xs">Add new issue</a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="m-b-lg">

                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="Search issue by name..." >
                                    <div class="input-group-btn">
                                        <button class="btn btn-white" type="button">Search</button>
                                    </div>
                                </div>

                                <div class="m-t-md">
                                    <strong>Found {{ issues|length }} issues.</strong>
                                </div>

                            </div>

                            <div class="table-responsive">
                            <table class="table table-hover issue-tracker">
                                <tbody>
                                <thead>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Summary
                                    </th>
                                    <th>
                                        Updated at
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                </thead>
                                {% for issue in issues %}
                                <tr>
                                    <td>
                                        <span class="label label-primary">{{ issue.status}}</span>
                                    </td>
                                    <td class="issue-info">
                                            <a href="{% url 'issue_detail' issue.project issue.key %}">{{ issue.key }}</a>
                                        </a>

                                        <small>
                                            {{ issue.summary }}
                                        </small>
                                    </td>
                                    <td>
                                        {{ issue.updated_at }}
                                    </td>
                                    <td class="text-right">
                                        <button class="btn btn-white btn-xs"> {{ issue.type }}</button>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
        {% endblock content %}