{% extends '_base.html' %}
{% block content %}
    {% include 'includes/navbar.html' %}
        <!--Page Heading-->
            <!--Page content-->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>{{ project.name }}</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'project_list' %}">Projects</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <strong>Issue list</strong>
                        </li>
                    </ol>
                </div>
            </div>

        <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Issue list</h5>
                            <div class="ibox-tools">
                                <a href=" {% url 'issue_create' issue_project_id %}" class="btn btn-primary btn-xs">Add new issue</a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="m-b-lg">
                                <form method="GET">
                                <div class="input-group input-group-sm">
                                    <input name="query" type="text" class="form-control" placeholder="Search issue by name..." >
                                    <div class="input-group-btn">
                                        <button class="btn btn-white" type="submit">Search</button>
                                    </div>
                                </div>
                                </form>

                                <div class="m-t-md">
                                    <strong>Found {{ issues|length }} issues.</strong>
                                </div>
                            </div>

                            <div class="table-responsive">
                            <table class="table table-hover issue-tracker">
                                <tbody>
                                    <thead>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Summary
                                        </th>
                                        <th>
                                            Last Updated
                                        </th>
                                        <th>
                                            Type
                                        </th>
                                    </thead>
                                    {% for issue in issues %}
                                    <tr>
                                        <td>
                                            <span class="label label-secondary">{{ issue.status_name }}</span>
                                        </td>
                                        <td class="issue-info">
                                            <a href="{% url 'issue_detail' issue.id %}">{{ issue.key }}</a>
                                            <small>{{ issue.summary|truncatechars_html:30 }}</small>
                                        </td>
                                        <td>
                                            {{ issue.updated_at }}
                                        </td>
                                        <td>
                                            <button class="btn btn-white btn-xs"> {{ issue.issue_type }}</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}