{% extends '_base.html' %}
{% block content %}
    {% include 'includes/navbar.html' %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>{{ issue.project.name }}</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'project_list' %}">Projects</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'issue_list' issue.project.id %}">Issue list</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Issue detail</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-lg-9">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <a href="{% url 'issue_update' issue.project.id issue.id %}" class="btn btn-white btn-xs float-right">Edit issue</a>

                                <h2>{{ issue.key }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-10">
                        <div class="col-lg-12">
                            <dl class="row mb-0">
                                <div class="col-sm-2 text-sm-right">
                                    <dt>Summary:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">{{ issue.summary }}</dd>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-2 text-sm-right">
                                    <dt>Description:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">{{ issue.description }}</dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Status:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1"><span class="label label-primary">{{ issue.status_name }}</span></dd>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Type:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">{{ issue.issue_type }}</dd>
                                </div>
                            </dl>
                            {% comment %} <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Assigned to:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1"> {{ issue.assignee }}</dd>
                                </div>
                            </dl> {% endcomment %}

                        </div>
                        <div class="col-lg-6" id="cluster_info">
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Last Updated:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1"> {{ issue.updated_at }}</dd>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Created:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1"> {{ issue.created_at }}</dd>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt></dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
{#                                        <dd class="mb-1"> {{ issue.client }}</dd>#}
                                </div>
                            </dl>
                        </div>
                    </div>
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        <ul class="nav nav-tabs">
                                            <li><a class="nav-link active" href="#tab-1" data-toggle="tab">Comments</a></li>
{#                                            <li><a class="nav-link" href="#tab-2" data-toggle="tab">Last activity</a></li>#}
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-1">
                                            <div class="feed-activity-list">
                                                {% for comment in comments %}
                                                <div class="feed-element">
                                                    <a href="#" class="float-left">
                                                        <img alt="image" class="rounded-circle" src="images/a2.jpg">
                                                    </a>
                                                    <div class="media-body ">
                                                        <small class="float-right">{{ comment.human_date }}</small>
                                                        <strong>{{ comment.author }}</strong><br>
                                                        <small class="text-muted">{{ comment.created|date:"D d M Y" }}</small>
                                                        <div class="well">
                                                            {{ comment.body }}
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
{#                                            <div>#}
                                                {# TODO: Add comment form #}
{#                                            </div>#}
                                            <div class="float-right">
                                                    <button class="btn m-t-md btn-primary">Add Comment</button>
                                            </div>
                                        </div>
{#                                        <div class="tab-pane" id="tab-2">#}
{#                                            <table class="table table-striped">#}
{#                                        <thead>#}
{#                                        <tr>#}
{#                                            <th>Status</th>#}
{#                                            <th>Title</th>#}
{#                                            <th>Start Time</th>#}
{#                                            <th>End Time</th>#}
{#                                            <th>Comments</th>#}
{#                                        </tr>#}
{#                                        </thead>#}
{#                                        <tbody>#}
{#                                        <tr>#}
{#                                            <td>#}
{#                                                <span class="label label-primary"><i class="fa fa-check"></i> Completed</span>#}
{#                                            </td>#}
{#                                            <td>#}
{#                                               Create project in webapp#}
{#                                            </td>#}
{#                                            <td>#}
{#                                               12.07.2014 10:10:1#}
{#                                            </td>#}
{#                                            <td>#}
{#                                                14.07.2014 10:16:36#}
{#                                            </td>#}
{#                                            <td>#}
{#                                            <p class="small">#}
{#                                                Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.#}
{#                                            </p>#}
{#                                            </td>#}
{##}
{#                                        </tr>#}
{#                                        </tbody>#}
{#                                    </table>#}
{#                                        </div>#}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content%}