{% extends '_base.html' %}
{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Issue detail</h2>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="row">
            <div class="col-lg-9">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-b-md">
                                    <a href="{% url 'issue_update' issue.project.id issue.id %}" class="btn btn-white btn-xs float-right">Edit issue</a>

                                    <h2>{{ issue.summary }}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <dl class="row mb-0">
                                    <div class="col-sm-4 text-sm-right">
                                        <dt>Status:</dt>
                                    </div>
                                    <div class="col-sm-8 text-sm-left">
                                        <dd class="mb-1"><span class="label label-primary">{{ issue.status_name }}</span></dd>
                                    </div>
                                </dl>
                                <dl class="row mb-0">
                                    <div class="col-sm-4 text-sm-right">
                                        <dt>Type:</dt>
                                    </div>
                                    <div class="col-sm-8 text-sm-left">
                                        <dd class="mb-1">{{ issue.issue_type }}</dd>
                                    </div>
                                </dl>
                                {% comment %} <dl class="row mb-0">
                                    <div class="col-sm-4 text-sm-right">
                                        <dt>Assigned to:</dt>
                                    </div>
                                    <div class="col-sm-8 text-sm-left">
                                        <dd class="mb-1"> {{ issue.assignee }}</dd>
                                    </div>
                                </dl> {% endcomment %}

                            </div>
                            <div class="col-lg-6" id="cluster_info">
                                <dl class="row mb-0">
                                    <div class="col-sm-4 text-sm-right">
                                        <dt>Last Updated:</dt>
                                    </div>
                                    <div class="col-sm-8 text-sm-left">
                                        <dd class="mb-1"> {{ issue.updated_at }}</dd>
                                    </div>
                                </dl>
                                <dl class="row mb-0">
                                    <div class="col-sm-4 text-sm-right">
                                        <dt>Created:</dt>
                                    </div>
                                    <div class="col-sm-8 text-sm-left">
                                        <dd class="mb-1"> {{ issue.created_at }}</dd>
                                    </div>
                                </dl>
                                <dl class="row mb-0">
                                    <div class="col-sm-4 text-sm-right">
                                        <dt></dt>
                                    </div>
                                    <div class="col-sm-8 text-sm-left">
{#                                        <dd class="mb-1"> {{ issue.client }}</dd>#}
                                    </div>
                                </dl>
                            </div>
                        </div>
                        <div class="row mt-10">
                            <div class="col-lg-12">
                                <dl class="row mb-0">
                                    <div class="col-sm-2 text-sm-right">
                                        <dt>Description:</dt>
                                    </div>
                                    <div class="col-sm-8 text-sm-left">
                                        <dd class="mb-1">{{ issue.description }}</dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}