{% extends '_base.html' %}
{% block content %}
        <!--Page Heading-->
            <!--Page content-->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Task list</h2>
                </div>
            </div>

        <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Task list</h5>
                            <div class="ibox-tools">
                                <a href="{% url 'create_task' project_id %}" class="btn btn-primary btn-xs">Add new issue</a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="m-b-lg">
                                <form method="GET">
                                <div class="input-group input-group-sm">
                                    <input name="query" type="text" class="form-control" placeholder="Search issue by name..." >
                                    <div class="input-group-btn">
                                        <button class="btn btn-white" type="submit">Search</button>
                                    </div>
                                </div>
                                </form>

                                <div class="m-t-md">
                                    <strong>Found {{ tasks|length }} tasks.</strong>
                                </div>
                            </div>

                            <div class="table-responsive">
                            <table class="table table-hover issue-tracker">
                                <tbody>
                                    <thead>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Summary
                                        </th>
                                        <th>
                                            Last Updated
                                        </th>
                                        <th>
                                            Type
                                        </th>
                                    </thead>
                                    {% for task in tasks %}
                                    <tr>
                                        <td>
                                            <span class="label label-primary">{{ task.status }}</span>
                                        </td>
                                        <td class="issue-info">
                                            {% comment %} <a href="{% url 'issue_detail' issue.project issue.key %}">{{ issue.key }}</a> {% endcomment %}
                                            <small>{{ task.summary }}</small>
                                        </td>
                                        <td>
                                            {{ task.updated_at }}
                                        </td>
                                        <td>
                                            {% comment %} <button class="btn btn-white btn-xs"> {{ issue.type }}</button> {% endcomment %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}